# Byte-compiled / Python files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Flask database
*.db

# Flask migrations
migrations/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/
